<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rover Cafe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

      <!-- 這裡的## 是暫填的，到時候要填網址，或是pages放的地方 -->
        <li>
          <a href="##">關於我們</a>
        </li>
        <li>
          <a href="##">商品</a>
        </li> 
        <li>
          <a href="##">購物車</a>
        </li>
        <li>
          <a href="##">聯絡我們</a>
        </li>
        <li class="dropdown">         
          <a href="#" class="dropdown-toggle"data-toggle="dropdown">幹瞧我們<b clas="caret"></b></a>
            <ul class="dropdown-menu">
            <li>
              <a href="##">用罵的</a> 
            </li>
            <li>
              <a href="##">用瞪的</a>
            </li>
            <li>
              <a href="##">懶得跟你講</a>
            </li>
            </ul>
        </li>
        <li>
          <a href="##">好多功能</a>
        </li>

      </ul>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>不曉得會怎樣
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>